@model Domain.Model.Entities.Donation

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalhar doações</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveCourier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveCourier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegister)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
